.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
}

/* ======= logo ======= */
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px ;
}

/* =========== Search ========== */
.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

/* =========== Navigation Links ======== */
.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    text-decoration: none;
    color: white;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

/* ============ Cart Icon ============== */
.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}