/* =========== Complete checkout Page container ============ */
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

/* ========= ad image ========== */
.checkout__ad{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray ;
}